.aboutMe {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  padding: 30px 0 20px 0;

  &__myGitHub {
    color: $default-font-color;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 6px;
    transition: 0.1s;

    &:active {
        color: $accent-color;
      }

    @include mq (1024px) {
      &:hover {
          color: $accent-color;
        }
    }
  }
}

